  <!-- https://bootsnipp.com/snippets/Q0dAX -->

  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
		<uib-accordion close-others="true" class="panel-cabinet-type" >
		    <div class="category-accordion panel" 
		    ng-class="group.open ? 'panel-info' : 'panel-default'"
		    uuid="{{group.uuid}}" uib-accordion-group  heading="{{group.title}}" is-open="group.open" is-disabled="group.disabled" ng-repeat="group in groups" >
		      	<ul class="list-inline list-cabinet-type">
			      	<li id="{{item.uuid}}" class="item-cabinet-type {{selected && selected.uuid == item.uuid ? 'selected' : ''}}" ng-repeat="item in types | filter:{ category: group.uuid }  | orderBy:'title'" ng-click="editCabinetType(item)">
					    <div class="thumbnail" >
					      <img ng-src="{{item.thumbnail}}" alt="">
						    <div class="caption">
						        <h5 class="text-center">{{item.title}}</h3>
					      	</div>
				      	</div>
					</li>
					  <li class="item-cabinet-type">
					  	<div class="thumbnail">
						    <div class="caption">
						       <button type="button" class="btn btn-info" ng-click="alert('add new cabinet type')"><i class="glyphicon glyphicon-plus"></i> Add</button>
					      	</div>
				      	</div>
					  </li>
				</ul>
		    </div>
	    </uib-accordion>
    </div>
    <!-- sidebar-content  -->
  </nav>
  <!-- sidebar-wrapper  -->