<div ng-include='"templates/sidebar.html"' ng-controller="sidebarCtrl"></div>
<main class="page-content">
<!-- Page Content -->
<div class="container-fluid">
    <!-- /.row -->
    <form uuid="{{cabinetType.uuid}}" novalidate  role="form" method="POST" action="#" >
        <div class="row">
            <div class="col-md-3">
                <div class="center-block text-center"> 
                    <p ng-show="previewImg == null">
                    <img ng-show="cabinetType!= null && cabinetType.thumbnail != null" ng-src="{{ cabinetType.thumbnail}}" alt="{{cabinetType.title}}"  title="{{cabinetType.title}}" class=" img-responsive img-thumbnail">
                    <img ng-show="cabinetType == null|| cabinetType.thumbnail == null" src="https://via.placeholder.com/250x300" class=" img-responsive img-thumbnail">
                    </p>
                       <p>
                        <button type="button" class="btn btn-success " ng-disabled="frmDisabled" role="button" title="Select image to use">Add to cart</button>
                      </p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Width</label>
                        <input type="number" ng-model="cabinet.width" class="form-control" ng-disabled="frmDisabled">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Deep</label>
                        <input type="number" ng-model="cabinet.deep" class="form-control" ng-disabled="frmDisabled">
                    </div>
                </div>  
                 <div class="row">
                    <div class="form-group col-md-6">
                        <label>Height</label>
                        <input type="number" ng-model="cabinet.height" class="form-control" ng-disabled="frmDisabled">
                    </div>
                </div>   
                 <div class="row">
                     <div class="col-md-12">  
                        <label>Options</label>    
                        <div class="inline-editing-grid" ui-grid="gridOptions" 
                        style="height:{{gridHeight}}" ng-disabled="frmDisabled"
                        ui-grid-pagination="" ui-grid-selection="" ui-grid-edit="" ui-grid-row-edit=""></div>
                    </div> 
                </div>  
            </div>
           
        </div>
    </form>
    <!-- /.row -->

</div><!-- /.container -->
<main>