<div ng-include='"templates/sidebar.html"' ng-controller="sidebarCtrl"></div>
<main class="page-content">
<!-- Page Content -->
<div class="container-fluid">
    <!-- /.row -->
    <form uuid="{{cabinetType.uuid}}" novalidate  role="form" method="POST" action="#" >
        <div class="row">
            <div class="col-md-3">
                <div class="center-block text-center" style="margin-bottom: 10px;"> 
                    <p ng-show="previewImg == null" style="margin-top: 10px;">
                    <img ng-show="cabinetType!= null && cabinetType.thumbnail != null" ng-src="{{ cabinetType.thumbnail}}" alt="{{cabinetType.title}}"  title="{{cabinetType.title}}" class=" img-responsive img-thumbnail">
                    <img ng-show="cabinetType == null|| cabinetType.thumbnail == null" src="https://via.placeholder.com/300x400" class=" img-responsive img-thumbnail">
                    </p>
                  <!--   <p ng-show="previewImg != null">
                          <img ng-src="{{previewImg}}" class=" img-responsive img-thumbnail">
                    </p> -->
                    <!-- Select image to use -->
                        <button type="button" class="btn btn-success " ng-disabled="frmDisabled" role="button" ng-click="upload()" title="Select image to use">Upload Image</button>
                         <input id="upload-cabinet-type" class="hidden" type="file" nv-file-select="" uploader="uploader"  />
                    <!-- Apply this item to user page -->
                        <button type="button" class="btn btn-primary " ng-disabled="frmDisabled" role="button" ng-click="updateCabinetType(cabinetType)" title="Apply this item to user page" >Apply</button>
                    
                </div>
                <div class="hidden">
                    <h3>The queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Name</label>
                        <input type="text" ng-model="cabinetType.title" class="form-control" ng-disabled="frmDisabled" >
                    </div>
                    <div class="form-group col-md-5">
                        <label>Category</label>
                       <!--  <select class="form-control" ng-disabled="frmDisabled" ng-options="item.title for item in categories track by item.uuid" ng-model="cabinetType.category">
                        </select> -->
                         <select class="form-control" ng-disabled="frmDisabled" ng-model="cabinetType.category">
                             <option ng-repeat="item in categories" value="{{item.uuid}}" ng-selected="item.value == cabinetType.category">{{item.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Minimum Height</label>
                        <input type="number" ng-model="cabinetType.minHeight" class="form-control" ng-disabled="frmDisabled">
                    </div>
                    <div class="form-group col-md-5">
                        <label>Maximum Height</label>
                        <input type="number" ng-model="cabinetType.maxHeight" class="form-control" ng-disabled="frmDisabled">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5">
                        <label>Minimum Depth</label>
                        <input type="number" ng-model="cabinetType.minDepth" class="form-control" ng-disabled="frmDisabled">
                    </div>
                    <div class="form-group col-md-5">
                        <label>Maximum Depth</label>
                        <input type="number" ng-model="cabinetType.maxDepth" class="form-control" ng-disabled="frmDisabled">
                    </div>
                    <div class="clear-fix"></div>
                    <div class="form-group col-md-5">
                        <label>Minimum Depth 2</label>
                        <input type="number" ng-model="cabinetType.minAltDepth" class="form-control" ng-disabled="frmDisabled">
                    </div>
                    <div class="form-group col-md-5">
                        <label>Maximum Depth 2</label>
                        <input type="number" ng-model="cabinetType.maxAltDepth" class="form-control" ng-disabled="frmDisabled">
                    </div>
                    <div class="form-group col-md-2">
                     <label class="visible-md-inline-block"></label>
                      <div class="checkbox">
                        <label>
                              <input type="checkbox" ng-disabled="frmDisabled">Use Depth 2
                        </label>
                      </div>                        
                    </div>
                </div>  
                 <div class="row">
                    <div class="form-group col-md-5">
                        <label>Minimum Width</label>
                        <input type="number" ng-model="cabinetType.minWidth" class="form-control" ng-disabled="frmDisabled">
                    </div>
                    <div class="form-group col-md-5">
                        <label>Maximum Width</label>
                        <input type="number" ng-model="cabinetType.maxWidth" class="form-control" ng-disabled="frmDisabled">
                    </div>
                    <div class="clear-fix"></div>
                    <div class="form-group col-md-5">
                        <label>Minimum Width 2</label>
                        <input type="number" ng-model="cabinetType.minAltWidth" class="form-control" ng-disabled="frmDisabled">
                    </div>
                    <div class="form-group col-md-5">
                        <label>Maximum Width 2</label>
                        <input type="number" ng-model="cabinetType.maxAltWidth" class="form-control" ng-disabled="frmDisabled">
                    </div>
                    <div class="form-group col-md-2">
                     <label class="visible-md-inline-block"></label>
                      <div class="checkbox">
                        <label>
                              <input type="checkbox" ng-disabled="frmDisabled">Use Width 2
                        </label>
                      </div>                        
                    </div>
                </div> 
            </div>
            <div class="col-md-12">      
                <div class="inline-editing-grid" ui-grid="gridOptions" 
                style="height:{{gridHeight}}" ng-disabled="frmDisabled"
                ui-grid-pagination="" ui-grid-selection="" ui-grid-edit="" ui-grid-row-edit=""></div>
                <div class="ui-grid">
                    <div class="ui-grid-footer text-right"><a id="btnAddOption" type="button" ng-disabled="frmDisabled" class="btn btn-xs btn-success btn-add-option" ng-click="grid.appScope.removeOption(row.entity)"><i class="glyphicon glyphicon-plus"></i> Add option</a></div>
                </div>
            </div>
            
            <div class="col-md-12">    
                <div class="row">
                    <div class="form-group col-md-12 text-right">
                        <br>
                        <button class="btn btn-secondary {{frmDisabled?'disabled':''}}" type="button" ng-disabled="frmDisabled" ng-click="resetCabinetType(true)">Cancel</button>
                        <button class="btn btn-danger {{frmDisabled?'disabled':''}}" type="button" ng-disabled="frmDisabled" ng-click="resetCabinetType()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- /.row -->

</div><!-- /.container -->
<main>
