<div class="container">
  <div class="row">
    <div class="col-4 ">
      <div class="row">
        <div class="col-12">
          <a href="/cabinet/404.html" class="btn btn-sm btn-block btn-outline-primary mb-3">View list of ready to use
            styles</a>
        </div>
        <div class="col-12">
          <a href="/cabinet/404.html" type="button" class="btn btn-sm btn-block btn-outline-primary mb-3">Selected Style
            Name</a>
        </div>
        <div class="col-12">
          <a type="button" class="btn btn-sm btn-block btn-outline-primary mb-3 active">Customize your
            style</a>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="form-group row">
        <label class="col-sm-3 ">Job Identification</label>
        <div class="col-sm-9">
          <input type="text" class="form-control-sm form-control-plaintext" readonly ng-model="user.jobIdentification"
            placeholder="Job Identification">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 ">First Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" ng-change="changeName()" ng-model="user.firstName"
            placeholder="Customer Name">
        </div>
        <label class="col-sm-2 ">Last Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm " ng-change="changeName()" ng-model="user.lastName"
            placeholder="Customer Name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Phone</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" ng-model="user.phone" placeholder="Address">
        </div>
        <label class="col-sm-2">Email</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" ng-model="user.email" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Address</label>
        <div class="col-sm-10">
          <input type="email" class="form-control form-control-sm" ng-model="user.address" placeholder="Address">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 object-type-list">
      <div ng-repeat="item in types" class="row">
        <div class="col-6 px-md-1">
          <div class="card text-center" ng-class="item.style.isActive ? 'border-primary' : ''"
            ng-click="editCabinetType(item.style)">
            <div class="card-header">
              <span class="my-0 font-weight-normal"> {{item.style.title}} </span>
            </div>
            <img ng-src="{{item.style.thumbnail}}" class="card-img-top mx-auto d-block" alt="..."
              style="width: 158px; height: 158px;">
            <div class="card-body d-flex align-items-end justify-content-center">
              <p class="card-text">{{item.style.name}}</p>
            </div>
          </div>
        </div>
        <div class="col-6 px-md-1">
          <div class="card text-center" ng-class="item.material.isActive ? 'border-primary' : ''"
            ng-click="editCabinetType(item.material)">
            <div class="card-header">
              <span class="my-0 font-weight-normal"> {{item.material.title}} </span>
            </div>
            <img ng-src="{{item.material.thumbnail}}" class="card-img-top mx-auto d-block" alt="..."
              style="width: 158px; height: 158px;">
            <div class="card-body d-flex align-items-end justify-content-center">
              <p class="card-text">{{item.material.name}}</p>
            </div>
          </div>
        </div>
        <div class="col-12 px-md-1">
          <hr class="my-3" />
        </div>
      </div>
    </div>
    <div class="col-8 object-type-detail">
      <div class="card shadow-sm h-100">
        <div class="card-header">
          <h6 class="my-0 font-weight-bold"> {{ cabinetType.title }}</h6>
        </div>
        <div class="card-body overflow-auto">
          <div ng-repeat="item in cabinetType.items"
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block object-type-thumbnail">
              <img ng-src="{{item.thumbnail}}" class="img-fluid mx-auto d-block" alt="..." style="
              width: 158px;
              height: 158px;
          ">
            </div>
            <div class="col px-2 py-2 d-flex flex-column position-static">
              <div ng-switch="item.kind" class="form-group mb-2">
                <label class="mb-1">
                  <span ng-switch-when="Style">Style Name</span>
                  <span ng-switch-when="Material">Material Name</span>
                </label>
                <input type="text" class="form-control form-control-sm" ng-model="item.name">
              </div>
              <div class="form-group mb-2">
                <label class="mb-1">Description</label>
                <textarea class="form-control form-control-sm" ng-model="item.description"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12">
      <hr class="my-3" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <nav class="object-tabs">
        <div class="nav nav-tabs nav-fill" role="tablist">
          <a class="nav-item nav-link" role="tab" data-toggle="tab" ng-repeat="item in groups"
            ng-class="item.isActive ? 'active' : ''" id="nav-{{item.name}}-tab" aria-controls="nav-{{item.name}}"
            aria-selected="{{item.isActive}}" ng-click="selectGroup(item)">
            {{item.name}}
          </a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade" role="tabpanel" ng-repeat="category in groups"
          ng-class="category.isActive ? ' show active ' : ''" id="nav-{{category.name}}"
          aria-labelledby="nav-{{category.name}}-tab">
          <div class="object-tab-pane">
            <div class="object-type-list mb-3" ng-repeat="subCategory in category.categories">
              <div class="col-12">
                <h6 class="font-weight-bold">{{subCategory.name}}</h6>
              </div>
              <div class="col-12">
                <div class="row mx-md-n1">
                  <div ng-repeat="item in subCategory.items" class="col-2 px-md-1">
                    <div class="card shadow-sm h-100">
                      <img ng-src="{{item.thumbnail}}" class="card-img-top" alt="...">
                      <div class="card-body d-flex align-items-end justify-content-center">
                        <p class="card-text" data-toggle="modal" data-target="#exampleModal">{{item.name}} </p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card shadow-sm">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51SOEVpCQmL._AC_SX679_.jpg"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text ">Lower B</p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img src="https://i5.walmartimages.ca/images/Large/140/094/109066-772398140094.jpg"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower C</p>
                    </div>
                  </div>

                  <div class="card shadow-sm">
                    <img
                      src="https://cdn10.bigcommerce.com/s-lo8vxi6nee/products/2557/images/4136/AZT5530__93166.1486312170.500.500.jpg?c=2"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower A </p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51SOEVpCQmL._AC_SX679_.jpg"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower B</p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img src="https://i5.walmartimages.ca/images/Large/140/094/109066-772398140094.jpg"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower C</p>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>

            <!-- <div class="object-type-list mb-3">
              <div class="col-12">
                <h5>Lower Corner</h5>
              </div>
              <div class="col-12">
                <div class="card-deck text-center">
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLgOqvbMgCs5YB3L4sjqrHs0iMOeSHWruamjoz1hbIvoFXx4xN&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower A </p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRZkGWZK2B7YKc44i9akqusamRHmYx3Ws-9q2OyrbHd-nigChtN&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower B</p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0bqD0-2EWdP0tXSWPyxkToVmxijB2pphQJF7okhY1tZ5uQ-Lq&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower C</p>
                    </div>
                  </div>

                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzI_EkLxELIOXHzrHzCUMLswAAmfpGAR2K6eIWxCsTwN0DmNgt&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower A </p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0jMWM0u0jgZLrwc2gxvX7m064hB8SLopXQdTFux5-iU-xTpuf&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower B</p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSelMp7G8xgqfphsM3pJ4O_NT2H0C4sGCGjb9-FA8NphAy9tDof&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower C</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="object-type-list mb-3">
              <div class="col-12">
                <h5>Lower appliances cabinets</h5>
              </div>
              <div class="col-12">
                <div class="card-deck text-center">
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFUeEJlC8JNX6o4NVNS9jHoL-FP1FSiqawZHeuq5_QUR-o_W1F&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower A </p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpd-YHcz8WOa4b2b6XCdx2YJqbt6jSeR1mtgm9Ol82w4-JUzXFwQ&s"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower B</p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFUeEJlC8JNX6o4NVNS9jHoL-FP1FSiqawZHeuq5_QUR-o_W1F&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower C</p>
                    </div>
                  </div>

                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFUeEJlC8JNX6o4NVNS9jHoL-FP1FSiqawZHeuq5_QUR-o_W1F&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower A </p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwONqCblNTV_OrTaUA9sX3iFrlJSsHbOTT5Py4C45ci4Mx1fNgPg&s"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower B</p>
                    </div>
                  </div>
                  <div class="card shadow-sm">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFUeEJlC8JNX6o4NVNS9jHoL-FP1FSiqawZHeuq5_QUR-o_W1F&usqp=CAU"
                      class="card-img-top" alt="...">
                    <div class="card-body d-flex align-items-end justify-content-center">
                      <p class="card-text">Lower C</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

          </div>
        </div>


      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header pt-2 pb-2">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body pt-2 pb-2">
              ...
            </div>
            <div class="modal-footer pt-2 pb-2">
              <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-sm btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class=" my-3" />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="">
        <div class="card shadow-sm">
          <div class="card-header">
            <h5 class="my-0 font-weight-normal font-weight-bold">Current Job</h5>
          </div>
          <div class="card-body d-flex align-items-end justify-content-center">
            <div class="row object-type-list d-flex">
              <div ng-repeat="item in jobs" class="col px-md-1 align-self-stretch" name="frmJob" ng-form="frmJob"> 
                <div class="card shadow-sm h-100">
                  <div class="card-header text-center">
                    <span class="my-0 font-weight-normal">{{item.name}}</span>
                  </div>
                  <img ng-src="{{item.thumbnail}}" class="card-img-top" alt="...">
                  <div class="card-body d-flex align-items-end justify-content-center" >
                    <div class="row">
                    <div class="col-12">
                      <div class="form-group row">
                        <label class="col-2"><small>W</small></label>
                        <div class="col-10">
                        <input ng-model="item.width" 
                        ng-class="{'invalid border border-danger':frmJob.width.$invalid }"
                        type="number" class="form-control" name="width" placeholder="Width" required=""
                          autofocus="" min="{{item.minWidth}}" max="{{item.maxWidth}}" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-label-group">
                        <input ng-model="item.height" type="number" class="form-control" placeholder="Height"
                        ng-class="{'invalid border border-danger':frmJob.width.$invalid }"
                          min="{{item.minHeight}}" max="{{item.maxHeight}}"
                          required="" autofocus="">
                        <label>Height</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-label-group">
                        <input ng-model="item.depth" type="number" class="form-control" placeholder="Depth" required=""
                        min="{{item.minDepth}}" max="{{item.maxDepth}}"
                          autofocus="">
                        <label>Depth</label>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="card-footer">
                    <button data-toggle="modal" data-target="#editModal" ng-click="editJob(item)"
                      class="btn btn-primary btn-block btn-sm">Edit</span>
                  </div>
                </div>
              </div>
              <!-- <div class="card shadow-sm ">
                <div class="card-header text-center">
                  <span class="my-0 font-weight-normal">Door Style </span>
                </div>
                <img src="https://i.pinimg.com/236x/6f/ed/61/6fed61369ff13a67759f0dd3b2f004c0.jpg" class="card-img-top"
                  alt="...">
                <div class="card-body d-flex align-items-end justify-content-center row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="number" class="form-control" placeholder="Width" required="" autofocus="">
                      <label>Width</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="number" class="form-control" placeholder="Height" required="" autofocus="">
                      <label>Height</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="number" class="form-control" placeholder="Depth" required="" autofocus="">
                      <label>Depth</label>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button data-toggle="modal" data-target="#editModal"
                    class="btn btn-primary btn-block btn-sm">Edit</span>
                </div>
              </div>
              <div class="card shadow-sm ">
                <div class="card-header text-center">
                  <span class="my-0 font-weight-normal">Door Style </span>
                </div>
                <img src="https://i.pinimg.com/236x/6f/ed/61/6fed61369ff13a67759f0dd3b2f004c0.jpg" class="card-img-top"
                  alt="...">
                <div class="card-body d-flex align-items-end justify-content-center row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="number" class="form-control" placeholder="Width" required="" autofocus="">
                      <label>Width</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="number" class="form-control" placeholder="Height" required="" autofocus="">
                      <label>Height</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="number" class="form-control" placeholder="Depth" required="" autofocus="">
                      <label>Depth</label>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button data-toggle="modal" data-target="#editModal"
                    class="btn btn-primary btn-block btn-sm">Edit</span>
                </div>
              </div>
              <div class="card shadow-sm ">
                <div class="card-header text-center">
                  <span class="my-0 font-weight-normal">Door Style </span>
                </div>
                <img src="https://i.pinimg.com/236x/6f/ed/61/6fed61369ff13a67759f0dd3b2f004c0.jpg" class="card-img-top"
                  alt="...">
                <div class="card-body d-flex align-items-end justify-content-center row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="number" class="form-control" placeholder="Width" required="" autofocus="">
                      <label>Width</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="number" class="form-control" placeholder="Height" required="" autofocus="">
                      <label>Height</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="number" class="form-control" placeholder="Depth" required="" autofocus="">
                      <label>Depth</label>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button data-toggle="modal" data-target="#editModal"
                    class="btn btn-primary btn-block btn-sm">Edit</span>
                </div>
              </div> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header text-center py-2">
          <h6 class="modal-title w-100 font-weight-bold">Edit</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body py-2">
          <div class="row justify-content-center">
            <div class="col-4">
              <img ng-src="{{editingJob.thumbnail}}" style="height: 200px;" class="card-img-top img-thumbnail"
                alt="...">
              <h6>Upload a different photo...</h6>
              <input type="file" class="text-center center-block file-upload form-control-file">
            </div>
            <div class="col-8">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Width</label>
                <div class="col-sm-9">
                  <input ng-model="editingJob.width" type="number" placeholder="Width" class="form-control" value="300">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Height</label>
                <div class="col-sm-9">
                  <input ng-model="editingJob.height" type="number" placeholder="Height" class="form-control"
                    value="200">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Depth</label>
                <div class="col-sm-9">
                  <input ng-model="editingJob.depth" type="number" placeholder="Depth" class="form-control" value="100">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <textarea class="form-control form-control-sm" ng-model="editingJob.description"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Property 1</label>
                <div class="col-sm-9">
                  <input type="text" ng-model="editingJob.property1" placeholder="Property 1" class="form-control"
                    value="value 1">
                </div>
              </div>

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Property 2</label>
                <div class="col-sm-9">
                  <input type="text" ng-model="editingJob.property2" placeholder="Property 2" class="form-control"
                    value="value 2">
                </div>
              </div>
              <button class="btn btn-info btn btn-success btn-sm">+</button>
            </div>

          </div>

        </div>
        <div class="modal-footer py-2 d-flex justify-content-center">
          <button class="btn btn-success btn btn-success btn-sm  px-5" data-dismiss="modal"
            ng-click="saveJob()">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a class="btn btn-outline-danger my-3" data-toggle="modal" data-target="#csvModal"  ng-click="createCsv()">Create CSV</a>

      <!-- Modal -->
      <div class="modal fade" id="csvModal" tabindex="-1" role="dialog" aria-labelledby=""
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header pt-2 pb-2">
            <h5 class="modal-title" id="">Create CSV</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pt-2 pb-2 bg-light">
            <pre><code id="csvContent">{{csvContent}}</code></pre>
          </div>
          <div class="modal-footer pt-2 pb-2">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-sm btn-primary" ng-click="copyCsv()">copy</button> -->
          </div>
        </div>
      </div>
      </div>
      
    </div>
  </div>
</div>